@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  color-scheme: dark;
}

@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }
}

.dark *,
.dark::before,
.dark::after {
  @apply border-gray-600;
}

body {
  -webkit-tap-highlight-color: transparent;
}
